footer {
    bottom: 0;
    width: 100%;
    margin: auto;
    align-items: center;
    text-align: center;
    vertical-align: middle;

    .redes-footer {
        @extend .redes;
    
        ul li {
            display: inline-block;
        }
    }
}