* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Integral CF', sans-serif;
    src: url("fonts/IntegralCF-Bold.woff , IntegralCF-DemiBold.woff , IntegralCF-Regular.woff");
}

body {
    font-family: 'Integral CF', sans-serif;
    background-color: $morado-claro;
    font-weight: 300;
    color: $blanco;

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Integral CF', sans-serif;
        font-weight: 700;
    }
}

#container {
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

#menu-vertical {
    z-index: 99;
    left: 0;
    position: absolute;
}

.menu {
    transform-origin: left top;
    transform:rotate(-90deg) translateX(-100%);

    div{
        display: inline-block;

        a {
            color: $blanco;
            text-decoration: none;
        }
    }
}

#intro {
    width: auto;
    display: flex;
    align-items: center;
    vertical-align: middle;
    text-align: right;
    padding: auto;

    h1 {
        font-size: 4.37rem;
    }

    h2, h3 {
        font-size: 1.87rem;
    }

    p {
        font-size: 1.12rem;
        color: $negro;
    }

}

#img-parent {}

.img-sobre {  
    max-width: 40rem;
    height: 100vh;
} 

.img-fondo {
    z-index: 1;
    position: absolute;
    max-width: 26.87rem;
    animation: 30s rotate36 infinite linear; 
} 

@keyframes rotate360 {
    to { transform: rotate(360deg); }
}

.redes {
    ul li {
        display: inline-block;

        a {
            text-decoration: none;
            font-size: 1.87rem;
            color: $blanco;
        }
    }
}
