* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Integral CF', sans-serif;
    src: url("fonts/IntegralCF-Bold.woff , IntegralCF-DemiBold.woff , IntegralCF-Regular.woff");
}

body {
    font-family: 'Integral CF', sans-serif;
    background-color: $morado-claro;
    font-weight: 300;
    color: $blanco;

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Integral CF', sans-serif;
        font-weight: 700;
    }
}

.menu {
    float: left;
    transform: rotate(-90deg);

    ul li {
        padding: 50px;
        list-style: none;
        display: inline-block;

        a {
            color: $blanco;
            text-decoration: none;
        }
    }
}

.hello {
    padding: 10px;
    vertical-align: middle;
    display: inline-block;
}

.img-principal {
    float: right;
    height: 100vh;
    bottom: 0;

    .img-fluid {
        width: auto;
        max-width: 40rem;
        height: 100vh;
    }
}

.redes {
    ul li {
        padding: 10px;
        display: inline-block;

        a {
            text-decoration: none;
            font-size: 1.87rem;
            color: $blanco;
        }
    }
}
